# JIRA
JIRA_DOMAIN="https://your-domain.atlassian.net"
JIRA_API_TOKEN="..."
JIRA_AUTH_MAIL="..."

# POSTGRES
POSTGRES_HOST="postgres" #localhost if running locally
POSTGRES_USER="user"
POSTGRES_PASSWORD="pass123"
POSTGRES_DBNAME="jira_assistant_queue"

# LLM
MODEL_BASE_URL="localhost"

# LANGFUSE
LANGFUSE_PUBLIC_KEY="pk-lf-..."
LANGFUSE_SECRET_KEY="sk-lf-..."
LANGFUSE_BASE_URL="https://cloud.langfuse.com"