# JIRA
JIRA_DOMAIN="https://your-domain.atlassian.net"
JIRA_API_TOKEN="..."
JIRA_AUTH_MAIL="..."

# LANGFUSE
LANGFUSE_PUBLIC_KEY="pk-lf-..."
LANGFUSE_SECRET_KEY="sk-lf-..."
LANGFUSE_BASE_URL="https://cloud.langfuse.com"